<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report | Quick.ly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% include "scroll.html" %}
</head>

<body class="flex flex-col min-h-screen bg-cover bg-fixed" id="journal-scroll" style="background-image: url('{{ bg }}');">
    <div>
        {% include "header.html" %}
    </div>
    {% if message %}
    <div class="bg-blue-500 text-white font-bold p-4">
        <div class="">{{ message }}!</div>
        <div class=""></div>
    </div>
    {% endif %}

    <main class="bg-gray-800 bg-opacity-60 max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="font-bold text-white text-2xl">Report link to Quickly</h3>
            <!-- <p class="text-gray-200 pt-2">Sign in with us now!</p> -->
        </section>

        <section class="mt-10">
            <form class="flex flex-col" method="POST" action="/report">
                <div class="mb-6 pt-3 rounded items-center">
                    <label class="text-sm font-semibold leading-10 text-gray-200" for="username">Shorten URL</label>
                    <input required type="url" id="url" name="url" class="text-white focus:ring-blue-600 focus:border-blue-600 w-full rounded-md border-y border-transparent border-t-gray-600 bg-gray-700 px-4 py-3 text-lg font-medium leading-8 shadow-2xl outline-none transition duration-200 ease-in-out placeholder:text-gray-400 focus:border focus:ring-2">
                </div>
                <div class="flex w-full items-end justify-center">
                    <div class="relative lg:w-full 2xl:w-4/6 xl:w-full md:w-full sm:w-full text-left">
                        <label for="url" class="text-sm font-semibold leading-10 text-gray-200">Message</label>
                        <textarea class="w-full rounded-md border-y border-transparent border-t-gray-600 bg-gray-700 px-4 py-3 text-lg font-medium leading-8 shadow-2xl outline-none transition duration-200 ease-in-out placeholder:text-gray-400 focus:border focus:border-blue-600 focus:bg-transparent focus:ring-2 focus:ring-blue-600"
                            id="message" name="message" placeholder="Leave a comment..." rows="6" required />
                    </div>

                    <button type="submit" class="inline-flex flex-shrink-0 rounded border-0 bg-orange-600 px-6 py-4 text-lg font-semibold text-white transition hover:ring-2 hover:ring-orange-400 focus:outline-none">Shorten URL</button>
                </div>
                {% if error %}
                <p class="text-md text-red-500 my-4 w-full animate-pulse font-semibold">{{ error }}</p>
                {% endif %}
                <button class="bg-orange-600 hover:ring-2 hover:ring-orange-400 flex-shrink-0 rounded border-0 px-6 py-4 text-lg font-semibold text-white transition focus:outline-none text-center" type="submit">Sign In</button>
            </form>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>